/* Global Values */
* { 
    font-family:"Inter", sans-serif;
    margin: 0;
}
:root {
    /* praimary colors */
    --primary-dark-blue: #043873;
    --primary-light-blue: #4F9CF9;
    /* secondary colors */
    --secondary-yellow: #FFE492;
    --secondary-blue: #A7CEFC;
    --secondary-white: #FFFFFF;
    --secondary-black: #212529;
    /* font sizes */
    --h2-desktop:64px;
    --h2-tablet:54px;
    --h2-mobile:36px;
    --p:18px;
}
/*Start responsive */
@media (max-width:320px) {
    .container {
        padding: 0 10px;
    }
    .section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media (min-width:321px) {
    .container {
        padding: 0 20px;
    }
    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media (min-width:769px) {
    .container {
        padding: 0 32px;
    }
    .section {
        padding-top: 140px;
        padding-bottom: 140px;
    }
}
@media (min-width:1401px) {
    .container {
        padding: 0 220px;
    }
    .section {
        padding-top: 140px;
        padding-bottom: 140px;
    }
}
/*End responsive */
/* Start Global Rules */
/*Start yellow slash*/
.container .description h2 span {
    display: inline-block;
    position: relative;
}
.container .description h2 span img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -28%;
    z-index:-1;
}
/* end yellow slash */
/* start desciption  */
.container .description h2 {
    font-size: var(--h2-desktop);
    color: var(--secondary-black);
}
.container .description p {
    font-size:var(--p);
    font-weight: 200;
    padding-top: 24px;
    line-height: 2;
    padding-bottom: 60px;
    color: var(--secondary-black);
}
@media (max-width:768px) {
    .container .description h2 {
        font-size: var(--h2-tablet);
    }
}
@media (max-width:320px) {
     .container .description h2 {
        font-size:var(--h2-mobile);
    }
}
/* end description */
/* Start section */
.section {
    padding-top: 140px;
    padding-bottom: 140px;
}
@media (max-width:767px) {
    .section {
        padding-top: 60xp;
        padding-bottom: 60xp;
    }
}
/* end section */
/* Start ul */
ul li{
    list-style-type: none;
}
/* End ul */
/* End Global Rules */
/* Start Header */
header {
    background-color: var(--primary-dark-blue);
    padding: 16px 0;
}
header .container {
    display: flex;
    justify-content: space-between; 
    position: relative;
}
header .container .logo {
    display: flex;
    gap: 10px;
    flex-basis: 20%;
}
header .container .logo img {
    width: 37px;
    height: 29px;
}
header .container .logo p {
    font-size: 28px;
    font-weight: bold;
    color: white;
}
@media (min-width:769px) {
    header .container .burger {
        display: none;
    }
}
header .container .links {
    display: flex;
    
    gap: 60px;
}
header .container .links ul {
    display: flex;
    align-items: center;
    gap: 34px
}

header .container .links ul li a {
    text-decoration: none;
    color: white;
}
header .container .links ul li a img {
    vertical-align: middle;
}
header .container .links  .buttons {
    display: flex;
    gap: 20px;
}
header .container .links .buttons button {
    padding: 10px 15px;
    width: fit-content;
    border: none;
    border-radius: 8px;
}
header .container .links  .buttons button:first-child {
    background-color: var(--secondary-yellow);
    color:var(--secondary-black);
}
header .container .links  .buttons button:nth-child(2) {
    background-color: var(--primary-light-blue);
    color: white;
}
@media (max-width:768px) {
    header .container .burger {
        display: visible;
    }
    header .container .links {
        display: none;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        padding: 15px 0;
        background-color: var(--primary-light-blue);
        position: absolute;
        right: 10%;
        top: 100%;
    }
    header .container .burger:hover + .links {
        display: flex;
    }
    header .container .links ul {
        padding-left: 0;
        flex-direction: column;
        align-items: center;
    }
    header .container .links ul li {
    }
    header .container .links .buttons {
        flex-direction: column;
        align-items: center;
    }
    header .container .links .buttons button:nth-child(2) {
        border: 1px solid black;
    }
}
/* End header */
/* Start Hero section */
.hero-section {
    background-color: var(--primary-dark-blue);
    background-image: url(../imgs/Element.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-section .container {
    display: flex;
}
.hero-section .container .description h2 {
    color: white;
    font-size: 64px;
    letter-spacing: -2px;
}
@media (max-width:768px) {
    .hero-section .container .description h2 {
        font-size: 54px;
    }
}
@media (max-width:320px) {
    .hero-section .container .description h2 {
        font-size: 36px;
    }
}
.hero-section .container .description p {
    color: white;
    font-size: 18px;
    font-weight: 200;
    padding-top: 24px;
    line-height: 2;
    padding-bottom: 60px;
}
.hero-section .container .description button {
    padding: 10px 15px;
    width: fit-content;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-light-blue);
    color: white;
}
.hero-section .container > img {
    width: 55%;
}
@media (max-width:767px) {
    .hero-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-section .container .description {
        text-align: center;
        margin-bottom: 50px;
    }
    .hero-section .container > img{
        width: 90%;
    }
}
@media (max-width:319px) {
    .hero-section .container > img {
        width: 100%;
    }
}
/* End Hero section */
/* Start Work Management Section */
.work-management {
    background-image: url(../imgs/work-management-background.svg);
    background-repeat: no-repeat;
    background-position:-50px 200px;
    width: 100%;
}
.work-management .container {
    display: flex;
}
.work-management .container .description h2 {
    color: var(--secondary-black);
    font-size: 64px;
    letter-spacing: -2px;
}
.work-management .container > img {
    width: 50%;
}
.work-management .container .description h2 {
    font-size: 64px;
}

.work-management .container .description p {
    font-size: 18px;
    font-weight: 200;
    padding-top: 24px;
    line-height: 2;
    padding-bottom: 60px;
    color: var(--secondary-black);
}
.work-management .container .description button {
    padding: 10px 15px;
    width: fit-content;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-light-blue);
    color: white;
}
@media (max-width:767px) {
    .work-management .container .description h2 {
        font-size: 54px;
    }
    .work-management .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .work-management .container .description {
        text-align: center;
        margin-bottom: 50px;
    }
    .work-management .container > img{
        width: 90%;
    }
}
@media (max-width:319px) {
    .work-management .container > img {
        width: 100%;
    }
}
@media (max-width:320px) {
    .work-management .container .description h2 {
        font-size: 36px;
    }
}
/* End Work Management Section */
/* Start work together section */
.work-together {
    padding-top: 100px;
}
.work-together .container {
    display: flex;
    align-items: center;
}
@media (min-width:768px) {
    .work-together .container .description {
        padding-left: 100px;
    }
}
.work-together .container .description h2 {
    color: var(--secondary-black);
    font-size: 64px;
    letter-spacing: -2px;
}
.work-together .container > img {
    width: 40%;
}
.work-together .container .description h2 {
    font-size: 64px;
}.work-together .container .description p {
    font-size: 18px;
    font-weight: 200;
    padding-top: 24px;
    line-height: 2;
    padding-bottom: 60px;
    color: var(--secondary-black);
}
.work-together .container .description button {
    padding: 10px 15px;
    width: fit-content;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-light-blue);
    color: white;
}
@media (max-width:767px) {
    .work-together .container .description h2 {
        font-size: 54px;
    }
    .work-together .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .work-together .container .description {
        text-align: center;
        margin-bottom: 50px;
    }
    .work-together .container > img{
        width: 90%;
    }
}
@media (max-width:319px) {
    .work-together .container > img {
        width: 100%;
    }
}
@media (max-width:320px) {
    .work-together .container .description h2 {
        font-size: 36px;
    }
}
/* End work together section */
/* Start use */
.use {
    background-color: var(--primary-dark-blue);
}
.use .container {
    display: flex;
    align-items: center;
}
.use .container .description h2 {
    color: var(--secondary-white);
    font-size: 64px;
    letter-spacing: -2px;
}
.use .container > img {
    width: 50%;
}
.use .container .description h2 {
    font-size: 64px;
}
.use .container .description h2 span {
    z-index: 0;
}
.use .container .description p {
    font-size: 18px;
    font-weight: 200;
    padding-top: 24px;
    line-height: 2;
    padding-bottom: 60px;
    color: var(--secondary-white);
}
.use .container .description button {
    padding: 10px 15px;
    width: fit-content;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-light-blue);
    color: white;
}
@media (max-width:767px) {
    .use .container .description h2 {
        font-size: 54px;
    }
    .use .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .use .container .description {
        text-align: center;
        margin-bottom: 50px;
    }
    .use .container > img{
        width: 90%;
    }
}
@media (max-width:319px) {
    .use .container > img {
        width: 100%;
    }
}
@media (max-width:320px) {
    .use .container .description h2 {
        font-size: 36px;
    }
}
/* End use */
/* Start Costumise */

.customise .container {
    display: flex;
    align-items: center;
}
@media (min-width:768px) {
    .customise .container .description {
        padding-left: 100px;
    }
}
.customise .container .description h2 {
    color: var(--secondary-black);
    font-size: 64px;
    letter-spacing: -2px;
}
.customise .container > img {
    width: 40%;
}
.customise .container .description h2 {
    font-size: 64px;
}.customise .container .description p {
    font-size: 18px;
    font-weight: 200;
    padding-top: 24px;
    line-height: 2;
    padding-bottom: 60px;
    color: var(--secondary-black);
}
.customise .container .description button {
    padding: 10px 15px;
    width: fit-content;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-light-blue);
    color: white;
}
@media (max-width:767px) {
    .customise .container .description h2 {
        font-size: 54px;
    }
    .customise .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .customise .container .description {
        text-align: center;
        margin-bottom: 50px;
    }
    .customise .container > img{
        width: 90%;
    }
}
@media (max-width:319px) {
    .customise .container > img {
        width: 100%;
    }
}
@media (max-width:320px) {
    .customise .container .description h2 {
        font-size: 36px;
    }
}
/* End Costumise */
/* Start Prices */
.prices .container {
    text-align: center;
}
.prices .container .cards {
    display: flex;
    gap: 32px;
    perspective: 100px;
}
.prices .container .cards .card {
    text-align: left;
    border: 1px solid var(--secondary-yellow);
    padding: 40px 44px;
    border-radius: 10px;
}
.prices .container .cards .offer-two {
    transform: translateZ(5px);
}
.prices .container .cards .card h3 {
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 25px;
}
.prices .container .cards .card .price {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
}
.prices .container .cards .card p {
    margin-bottom: 24px;
}
.prices .container .cards .card ul {
    padding: 0;
}
.prices .container .cards .card ul li {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 400;
}
.prices .container .cards .card ul li img {
    margin-right: 19px;
}
.prices .container .cards .card button {
    padding: 10px 15px;
    width: fit-content;
    border-radius: 8px;
}
.prices .container .cards .offer-one button,
.prices .container .cards .offer-three button {
    color: var(--secondary-black);
    border: 1px solid var(--secondary-yellow);
    background-color: white;
}
.prices .container .cards .offer-two {
    background-color: var(--primary-dark-blue);
    color: white;
}
.prices .container .cards .offer-two div {
    color: var(--secondary-yellow);
}
.prices .container .cards .offer-two button {
    background-color: var(--primary-light-blue);
    color: white;
    border: none;
}
.prices .container .cards  .dots {
    margin-top: 60px;
    width:60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.prices .container .cards .dots div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-light-blue);
}
.prices .container .cards .dots .active {
    background-color: var(--primary-dark-blue);
}
@media (min-width:769px) {
    .prices .container .cards .dots {
        display: none;
    }
}
@media (max-width:768px) {
    .prices .container .cards {
        align-items: center;
        flex-direction: column;
    }
    .prices .container .cards .offer-one,
    .prices .container .cards .offer-three {
        display: none;
    }
    .prices .container .cards .offer-two {
        max-width: 400px;
        transform: translateZ(0);
    }
}
/* End Prices */
/* Start Your Work */
.your-work {
    background-image: url(../imgs/your-work-img.png);
    background-repeat: no-repeat;
    background-color: var(--primary-dark-blue);
}
@media (min-width:1400px) {
    .your-work {
        background-position: -100px -180px;
    }
}
@media (max-width:1399px) {
    .your-work {
        background-position: -300px -180px;
    }
}
.your-work .container {
    text-align: center;
}
.your-work .container .description h2 {
    color: white;
}
.your-work .container .description h2 span {
    z-index: 0;
}
.your-work .container .description p {
    color: white;
}
.your-work .container .description button {
    padding: 10px 15px;
    width: fit-content;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-light-blue);
    color: white;
}
/* End Your Work */
